name: conversao-distancia
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Baixando código do repositório
        uses: actions/checkout@v5

      - name: Configurando Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Instalando dependências
        working-directory: ./
        run: |
          ls
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Debug - Verificar variáveis
        run: |
          echo "Vars existentes: ${{ vars }}"
          echo "secrets existentes: ${{ secrets }}"
          echo "Username existe: ${{ vars.DOCKERHUB_USERNAME != '' }}"
          echo "Token existe: ${{ secrets.DOCKERHUB_TOKEN != '' }}"
          echo "Username length: ${#DOCKERHUB_USERNAME}"
          echo "Token length: ${#DOCKERHUB_TOKEN}"
        env:
          DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login no docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - run: echo "Obter o código"
      - run: echo "Configurar o Kubeconfig"
      - run: echo "Executar o apply"

      
