name: conversao-distancia
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Baixando código do repositório
        uses: actions/checkout@v5

      - name: Configurando Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Instalando dependências
        working-directory: 01-conversao-distancia
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Login no docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - run: echo "Obter o código"
      - run: echo "Configurar o Kubeconfig"
      - run: echo "Executar o apply"

      
